---
import Card from "../components/Card.astro";
---
<div class="w-full justify-center bg-amber-400">
  <div class="mx-auto pt-10 w-3/4 flex flex-wrap justify-start">
    <Card
      title="Portfolio"
      href="/"
      gitrep="https://github.com/adriangdp/cv"
      body="Cat ipsum dolor sit amet, egyptian mau. Donskoy bombay scottish fold bobcat donskoy himalayan, yet russian blue. Turkish angora. Cougar norwegian forest donskoy."
      techArray={["html", "css",  "js", "astro","tailwind"]}
    />
    <Card
      title="Desvelando Oriente"
      href="https://desvelandooriente.netlify.app/"
      gitrep="https://github.com/adriangdp/desvelando-oriente"
      body="Cat ipsum dolor sit amet, egyptian mau. Donskoy bombay scottish fold bobcat donskoy himalayan, yet russian blue. Turkish angora. Cougar norwegian forest donskoy."
      techArray={["html", "css", "react", "bootstrap","sass","wordpress"]}
    />
    <Card
      title="Amelia Earhart"
      href="https://ameliaearhart.netlify.app/"
      gitrep="https://github.com/adriangdp/amelia-earhart"
      body="Cat ipsum dolor sit amet, eius deserunt for totam. Quia cillum for excepteur. Aute. Anim adipisci occaecat or quis"
      techArray={["html", "css", "sass", "js"]}
    />
    <Card
      title="Arcosa"
      href="https://arcosa.netlify.app/"
      gitrep="https://github.com/adriangdp/arcosa"
      body="Deserunt. Consequatur doloremque, for omnis dolore ex enim ut. Eius error or id incidunt. Quaerat ab but elit, culpa tempora aut."
      techArray={["html", "css", "js"]}
    />


  </div>
</div>
